{% 
  assign collection = section.settings.featured_collection
 %}
<div class="relative bg-white lg:container lg:mx-auto">
  <div class="mx-auto pt-14 pb-9">
    <div class="text-center mb-5">
      <h2 class="font-bold text-4xl mb-4">{{ section.settings.section_title }}</h2>
      <p class="text-md">{{ section.settings.section_description }}</p>
    </div>
    <div class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
      {% for product in collection.products %}
      <div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <div>
          <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" class="h-80 w-72 object-cover rounded-t-xl" width="280" height="320">
          <div class="px-4 py-3 w-72">
            <span class="text-gray-400 mr-3 uppercase text-xs">{{ product.vendor }}</span>
            <p class="text-lg font-bold text-black truncate block capitalize"><a href="{{ product.url }}">{{  product.title }}</a></p>
            <div class="flex items-center">
              <p class="text-lg font-semibold text-black cursor-auto my-3">{{ product.price | money }}</p>
              {% if product.compare_at_price > product.price %}
                <del>
                  <p class="text-sm text-gray-600 cursor-auto ml-2">{{ product.compare_at_price | money }}</p>
                </del>
              {% endif %}
              <div class="ml-auto">
                {% render 'icon-shoping-bag' %}
              </div>
            </div>
          </div>
        </div>
      
      </div>
    {% endfor %}
    </div>
  </div>
  
</div>
  
{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section title",
        "default": "Collection list"
      },
      {
        "type": "textarea",
        "id": "section_description",
        "label": "Section description",
        "default": "LOREM IPSUM DOLOR SIT AMET CONSECTETUR"
      },
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Featured Collection",
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
  